* {
    padding: auto;
    background-color: #A9A9A9;
}

nav, .colors {
    color: #243642;
    text-align: center;
    border: 2px solid #243642;
}

.MWG {
    background-color: #243642;
    border-radius: 15px;
    text-align: center;
}




.tirinidad {
    z-index: 1;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #c7522a;
    margin-right: 2%;
    margin-left: 2%;
    color: gray;
}

.orilans {
    z-index: 10px;
    float: left;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5;
    padding-bottom: 10px;
    float: left;
    background-color: #e5c185;
    margin-right: 5%;
    margin-left: 5%;
    color: gray;


}


.cornfied {
    z-index: 10px;
    float: left;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #fbf2c4;
    margin-right: 2%;
    margin-left: 2%;
    color: gray;


}

.acapulco {
    z-index: 10px;
    float: left;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #74a892;
    margin-right: 5%;
    margin-left: 5%;
    color: gray;


}

.teal {
    z-index: 10px;
    float: left;
    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #008585;
    margin-right: 5%;
    margin-left: 5%;
    color: gray;

}

.beige {
    z-index: 10px;

    border-style: solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #F5F5DC;
    margin-left: 2%;
    margin-left: 2%;
    color: gray;

}