* {
  padding: auto;
  margin: auto;
}

body {
  background-color: #243642;
}

/**** Colors *****/
#colors {
  display: flex;
}

.MWG {
  background-color: #333945;
  color: #51403d;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 450px;
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.nav {
  border: 2px solid #5a636a;
  text-align: center;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
}

.cls {
  padding-bottom: 10px;
  margin-bottom: 40px;
  color: #72676f;
}

.tirinidad {
  border-style: solid;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #74a892;
  margin-right: 5%;
  margin-left: 5%;
  color: gray;
}

.orilans {
  border-style: solid;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5;
  padding-bottom: 10px;
  background-color: #e5c185;
  margin-right: 5%;
  margin-left: 5%;
  color: gray;

}

.cornfied {
  border-style: solid;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fbf2c4;
  margin-right: 2%;
  margin-left: 2%;
  color: gray;
}

.acapulco {
  border-style: solid;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #74a892;
  margin-right: 5%;
  margin-left: 5%;
  color: gray;
}

.teal {
  border-style: solid;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #008585;
  margin-right: 5%;
  margin-left: 5%;
  color: gray;

}


.beige {
  border-style: solid;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F5F5DC;
  margin-left: 2%;
  margin-left: 2%;
  color: gray;

}

/**** Fonts *****/

h2 {
  text-decoration-line: underline;
  margin-bottom: 20px;
}

#font {
  border: 2px solid #5a636a;
  text-align: center;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
}

.source,
.source-p1,
.source-p2,
.source-p3 {
  font-family: "Source Code Pro", monospace;
  margin-bottom: 10px;
}

.source-p3 {
  font-style: italic;
}

.source-p2 {
  font-weight: 900;
  font-style: bold;
}

.poppin,
.poppin-p1,
.poppin-p2,
.poppin-p3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.poppin-p2 {
  font-weight: 900;
  font-style: bold;
}

.poppin-p3 {
  font-style: italic;
}
